{% include header.html %}
    
    <section class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row text-center">
          <h2 class="text-white"><i>Abandon all hope, ye who enter here.</i></h2>
        </div>
      </div>
    </section>
    
    <section class="container">
      <div class="row">
        <h2 class="col-sm-4">This Website</h2>
        <p>I've created this GithubPages website as a way to learn CSS and HTML. Use the navbar above to navigate the site.</p>
          <p>Please pardon any unfunny jokes or commentary along the way.</p>
      </div>
    </section>
    
{% include footer.html %}
